a.mnu:link    {color: #ff0000}
a.mnu:visited {color: #0000ff}
a.mnu:hover   {color: white; background: #0000ff; font-weight:bold; }

.classe {
  BORDER-RIGHT: #87ceeb 1px solid;
  BORDER-LEFT: #87ceeb 1px solid;
  BORDER-TOP: #87ceeb 1px solid;
  BORDER-BOTTOM: #87ceeb 1px solid;
  MARGIN: 2px 2% 10px;
  PADDING-RIGHT: 2px;
  PADDING-LEFT: 2px;
  PADDING-TOP: 2px;
  PADDING-BOTTOM: 2px;
  FONT-WEIGHT: bolder;
  FONT-SIZE: 12px;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial;
  FONT-VARIANT: normal;
  COLOR: #191970;
  BACKGROUND-COLOR: #b0c4de;
  TEXT-ALIGN: left;
  TEXT-DECORATION: none;
  TEXT-TRANSFORM: none;
}
.classe table{
  background-color: #bcd2ee;
}
.cls_kind {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    width: 150px;
    background-color: #bcd2ee;
}
.cls_name {
    font-weight: bold;
    font-style: italic;
    text-align: left;
    vertical-align: top;
    width: 80%;
    background-color: #CCCC00;
}
.cls_desc{
  FONT-WEIGHT: normal;
  FONT-SIZE: 14px;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial;
  FONT-VARIANT: normal;
  COLOR: black;
  TEXT-ALIGN: left;
  TEXT-DECORATION: none;
  TEXT-TRANSFORM: none;
  MARGIN: 2px 5% 10px;
}

.function {
  BORDER-RIGHT: #87ceeb 1px solid;
  BORDER-LEFT: #87ceeb 1px solid;
  BORDER-TOP: #87ceeb 1px solid;
  BORDER-BOTTOM: #87ceeb 1px solid;
  MARGIN: 2px 2% 10px;
  PADDING-RIGHT: 2px;
  PADDING-LEFT: 2px;
  PADDING-TOP: 2px;
  PADDING-BOTTOM: 2px;
  FONT-WEIGHT: bolder;
  FONT-SIZE: 14px;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial;
  FONT-VARIANT: normal;
  COLOR: #191970;
  BACKGROUND-COLOR: #b0c4de;
  TEXT-ALIGN: left;
  TEXT-DECORATION: none
  TEXT-TRANSFORM: none;
}
.function table{
  background-color: #aaaa00;
}
.fnc_kind {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    width: 150px;
    background-color: #CCCCCC;
}
.fnc_name {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    background-color: #CCCC00;
}
.fnc_desc{
  FONT-WEIGHT: normal;
  FONT-SIZE: 14px;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial;
  FONT-VARIANT: normal;
  COLOR: black;
  TEXT-ALIGN: left;
  TEXT-DECORATION: none;
  TEXT-TRANSFORM: none;
  MARGIN: 2px 5% 10px;
}
.fnc_args {
  FONT-WEIGHT: bold;
  FONT-SIZE: normal;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial;
  FONT-VARIANT: normal;
  COLOR: #1919FF;
  BACKGROUND-COLOR: #FFc4de;
  TEXT-ALIGN: left;
  TEXT-DECORATION: none
  TEXT-TRANSFORM: none;
  vertical-align: top;
}

.args {
  BORDER-RIGHT: #87ceeb 1px solid;
  BORDER-LEFT: #87ceeb 1px solid;
  BORDER-TOP: #87ceeb 1px solid;
  BORDER-BOTTOM: #87ceeb 1px solid;
  MARGIN: 2px 5% 10px;
  PADDING-RIGHT: 2px;
  PADDING-LEFT: 2px;
  PADDING-TOP: 2px;
  PADDING-BOTTOM: 2px;
  FONT-WEIGHT: bolder;
  FONT-SIZE: normal;
  FONT-STYLE: normal;
  FONT-FAMILY: Verdana, Arial;
  FONT-VARIANT: normal;
  COLOR: #191970;
  BACKGROUND-COLOR: #b0c4de;
  TEXT-ALIGN: left;
  TEXT-DECORATION: none
  TEXT-TRANSFORM: none;
}
.args table{
  background-color: #00aa00;
}
.arg_type {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    width: 150px;
    background-color: #CCCCCC;
}
.arg_name {
    font-weight: italic;
    text-align: left;
    vertical-align: top;
    width: 150px;
    background-color: #CCCC00;
}
.arg_desc {
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    width: 60%;
    background-color: #00CCCC;
}
