.mnu
{
  font-style: italic;
}

a.mnu:link       {color: #0ff000; background: #f000ff; }
a.mnu:visited {color: #0000ff}
a.mnu:hover     {color: white; background: #0000ff; }

.keyword {
   color: #0000ff;
   font-weight:bold;
}
.intrinsic {
   color: #0000ff;
}
.comment {
   color: #008000;
}
.debug {
   color: #800080;
}
.preproc {
   color: #606060;
}
.string {
   color: #aa00aa;
}
.user {
   color: #800000;
}

.menu {
  height:30px;
  line-height:16px;
  margin: 20px 2% 20px;
  font-weight: bolder;
  font-size: 12px;
  font-style: normal;
  font-family: verdana, arial;
  font-variant: normal;
  color: #191970;
  background-color: #b0c4de;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
.mnu_entry{
  font-weight: bolder;
  font-size: 12px;
  margin: 0px 1em 0px 1em;
}

.alpha {
  margin: 20px 2% 20px;
  font-weight: bolder;
  font-size: 12px;
  font-style: normal;
  font-family: verdana, arial;
  font-variant: normal;
  color: #191970;
  background-color: #b0c4de;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
.alpha_entry{
  margin: 0px 5px 0px;
}

.main {
  margin: 10px 2% 10px;
  padding-top: 2px;
  width: 100%;
  float: center;
}

.main table {
  font-weight: normal;
  font-size: 12px;
  font-style: normal;
  font-family: verdana, arial;
  font-variant: normal;
  color: #000000;
}

.main th {
  border-right: #87ceeb 1px solid;
  border-left: #87ceeb 1px solid;
  border-top: #87ceeb 1px solid;
  border-bottom: #87ceeb 1px solid;
  font-weight: bolder;
  font-size: 12px;
  font-style: normal;
  font-family: verdana, arial;
  font-variant: normal;
  color: #000000;
  background-color: #b0c4de;
  text-align: left;
}

.thl
{
  width: 50%;
  float: left;
  text-align: left;
}
.thr
{
  width: 50%;
  float: right;
  text-align: right;
}

.col_l {
  width: 50%;
  float: left;
}

.col_r {
  width: 50%;
  float: right;
}

/* mktree */
ul.mktree  li { list-style: none; } 
/* Control how "spaced out" the tree is */
ul.mktree, ul.mktree ul , ul.mktree li
    { 
    margin-left:15px; 
    padding:0px; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 10px;
    font-family: Verdana, arial;
    font-variant: normal;
}
/* Provide space for our own "bullet" inside the LI */
ul.mktree  li           .bullet { padding-left: 15px; }
/* Show "bullets" in the links, depending on the class of the LI that the link's in */
ul.mktree  li.liOpen    .bullet { cursor: pointer; background: url(minus.gif)  center left no-repeat; }
ul.mktree  li.liClosed  .bullet { cursor: pointer; background: url(plus.gif)   center left no-repeat; }
ul.mktree  li.liBullet  .bullet { cursor: default; background: url(bullet.gif) center left no-repeat; }
/* Sublists are visible or not based on class of parent LI */
ul.mktree  li.liOpen    ul { display: block; }
ul.mktree  li.liClosed  ul { display: none; }
/* Format menu items differently depending on what level of the tree they are in */
ul.mktree  li { font-size: 10pt; }
ul.mktree  li ul li { font-size: 10pt; }
ul.mktree  li ul li ul li { font-size: 10pt; }
ul.mktree  li ul li ul li ul li { font-size: 10pt; }
